/* Styles for hero section */
#hero {
  /*
    - The first parameter is the direction of the gradient. 180 deg = top to bottom, 0 and/or 360 deg = bottom to top.
    - The first color is the starting color, so, it's going to start with #001433 on the top and at the bottom it will be #121212
    */
  background-image: linear-gradient(180deg, #001433 0%, #121212 100%);
}

.hero-row {
  display: flex;
  align-items: center;
  align-content: center;
  height: 100vh;
}


.responsive-logo{
  /*By setting the width OR height to 100% and the other attribute (height/widht) to auto, this will make the image maintain aspect ratio automatically.*/
  width: 90%;
  height: auto,
  
}
