/* The brand name is "Naif Abdullah"*/
.navbar-brand {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 900;
    line-height: 1.5;

}

.navbar-brand:hover {
    color: #2196f3;
    /*Counteracting the color change that occurs with the brand name on hover.*/
}

.navlinks {
    font-weight: bold;
    color: antiquewhite;
}