#root {
  text-align: center;
}

#hero-container {
  /*The hero container will be entirely filled with the background-image color below. We'll take up the entire width (100%) so that it's filled from side to side. With regards to the height, we'll only fill vertically as much as the user's viewport would allow us to fill. TODO: We may need to adjust this later */
  width: 100%;
  height: 1080px;
  background-image: linear-gradient(180deg, #001433 0%, #121212 100%);

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.parallax {
  /* Example of a basic parallax effect using background image */
  background-image: url('./assets/experiences.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  /* Adjust as needed */
}
