/* Core styles for layout and animations */
#root {
  text-align: center;
}

/*The two css queries below serve to fade the contents of the site in when the loading logo has finished fading out*/
.fade-in {
  opacity: 1;
  transition: opacity 3s; /*This controls the speed of the fade in*/
}

.fade-out{
  opacity: 0;
  transition: opacity 1s;
}

/*Used for disabling scrolling when website contents are fading in */
.disable-scroll {
  overflow: hidden; /* Disables vertical and horizontal scrolling */
}










.responsive-logo{
  /*By setting the width OR height to 100% and the other attribute (height/widht) to auto, this will make the image maintain aspect ratio automatically.*/
  width: 90%;
  height: auto; 
}

