/* Core styles for layout and animations */
#root {
  text-align: center;
}

/*The two css queries below serve to fade the contents of the site in when the loading logo has finished fading out*/
.fade-in {
  opacity: 1;
  transition: opacity 3s; /*This controls the speed of the fade in*/
}

.fade-out{
  opacity: 0;
  transition: opacity 1s;
}

/*Used for disabling scrolling when website contents are fading in */
.disable-scroll {
  overflow: hidden; /* Disables vertical and horizontal scrolling */
}

.responsive-logo{
  /*By setting the width OR height to 100% and the other attribute (height/widht) to auto, this will make the image maintain aspect ratio automatically.*/
  width: 90%;
  height: auto; 
}

// Prevents the appearance of the white backdrop due to IOS' elastic scrolling/overscrolling at the bottom of the page
.ios-peek-bottom {
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #121212 0%, #121212 100%);
}
