:root,
body {
  scroll-behavior: smooth;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*The next 5 lines are necessary to have the loading screen as the gradient background*/
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(180deg, #001433 0%, #121212 100%);
  color: antiquewhite; /*Setting the default color for all fonts*/
}

/* Hide scrollbars by default */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Show scrollbars on hover */
::-webkit-scrollbar {
  width: 3px; /* Width of the scroll bar */
}

/* Style the thumb (the draggable part of the scroll bar) */
::-webkit-scrollbar-thumb {
  background-color: #2196f3; /* Color of the scroll bar thumb */
  border-radius: 4px; /* Rounded corners of the scroll bar thumb */
}

/* Style the track (the area behind the thumb) */
::-webkit-scrollbar-track {
  background-color: black; /* Make the track transparent */ /* Color of the scroll bar track */
}

/*
Attempted to implemenet antiquewhite as the default font color, but bootstrap's default styling is overriding this rule below. Therefore, we resorted to editing bootstrap's _variables.scss file. 

Update: Modifying bootstrap's _variables.scss didn't work because we weren't sure on how to recompile the file once the changes are made. Therefore, we settled for implementing the default font color per section. 
h1, h2, h3, h4, h5, h6, p, a, span{
  color: antiquewhite;
}
*/
